// ================ COLOR VARIABLE ================
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-blue-light: #2990ff;
$color-blue-dark: #5643fa;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000; 